* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.hidden {
  display: none;
}

.screen {
  width: 100%;
  height: 100vh;
  background-color: rgb(25, 160, 232);
  overflow: hidden;
}

.start-modal,
.game-over-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  top: 30vh;
  left: calc(50vw - 150px);
  background-color: rgb(255, 213, 0);
  border: black solid thick;
  border-radius: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 10;
  padding-bottom: 10px;
}

.game-over-modal {
  background-color: rgb(196, 53, 53);
  border: white solid thick;
  color: white;
}

.start-button,
.start-over {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  background-color: black;
  color: white;
  padding: 10px 15px;
  border: solid black;
  border-radius: 1rem;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.start-over {
  background-color: white;
  color: black;
  border: solid white;
}

.start-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.start-over:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.player-area {
  height: 80%;
  width: 100%;
  position: relative;
}

.car {
  position: absolute;
  left: 100px;
  bottom: 0;
  width: 120px;
  height: 65px;
}

.car-top {
  background-color: rgb(255, 213, 0);
  height: 25px;
  width: 50%;
  margin: auto;
  transform: perspective(20px) rotateX(25deg);
}

.windows {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 2px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: perspective(20px) rotateX(0deg);
}

.window {
  background-color: rgb(57, 57, 57);
  width: 47%;
  height: 100%;
}

.car-bottom {
  background-color: rgb(255, 213, 0);
  position: relative;
  height: 25px;
  width: 100%;
  border-radius: 0.3rem;
}

.headlight,
.taillight {
  width: 7px;
  height: 7px;
  position: absolute;
  top: 0;
}

.headlight {
  background-color: white;
  right: 0;
  border-radius: 0.1rem 0.3rem 0.1rem 0.1rem;
}

.taillight {
  background-color: red;
  left: 0;
  border-radius: 0.3rem 0.1rem 0.1rem 0.1rem;
}

.wheels {
  position: relative;
  bottom: 0;
  width: 60%;
  left: 20%;
  height: 15px;
  display: flex;
  justify-content: space-between;
}

.wheel {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  top: -10px;
}

.left {
  left: -12px;
}

.right {
  right: -12px;
}

.ground {
  background-color: grey;
  height: 20%;
  width: 100%;
}

.block {
  width: 50px;
  height: 50px;
  background-color: orangered;
  position: absolute;
  left: 100vw;
  bottom: 0;
}

.long {
  width: 140px;
  height: 30px;
  background-color: greenyellow;
}

.tall {
  width: 20px;
  height: 90px;
  background-color: darkorchid;
}

.floating {
  bottom: 100px;
  background-color: rgb(0, 255, 255);
}

.gap {
  bottom: -100px;
  width: 200px;
  height: 100px;
  z-index: 10;
  background-color: rgb(25, 160, 232);
  position: absolute;
  left: 100vw;
}

.wide {
  width: 300px;
}
