* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Mont Heavy';
  src: url('./fonts/Mont-HeavyDEMO.otf');
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.hidden {
  display: none;
}

.screen {
  width: 100%;
  height: 100vh;
  background-color: rgb(25, 160, 232);
  overflow: hidden;
}

.score-container,
.hi-score-container,
.powerup-counter-container {
  position: absolute;
  width: 120px;
  height: 120px;
  text-align: center;
  color: white;
  font-family: 'Mont Heavy', sans-serif;
  z-index: 2;
}

.powerup-counter-container {
  top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  width: 240px;
  padding: 0 30px;
}

.help-container {
  position: absolute;
  right: 0;
  top: 2px;
  z-index: 2;
}

.blaster-help,
.turbo-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  color: white;
  text-align: center;
}

.blaster-help-header {
  margin: 10px;
  color: rgb(73, 234, 9);
}

.turbo-help-header {
  margin: 10px;
  color: rgb(255, 213, 0);
}

.blaster-button,
.turbo-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 0.5rem;
  width: 150px;
  height: 45px;
}

.ammo-counter {
  color: rgb(73, 234, 9);
}

.jump-counter {
  color: rgb(183, 30, 239);
}

.turbo-counter {
  color: rgb(255, 213, 0);
}

.hi-score-container {
  left: 117px;
}

.score-header {
  margin-bottom: 5px;
}

.score,
.hi-score,
.new-hi-score {
  margin-top: 5px;
}

.instructions,
.powerup-instructions {
  position: absolute;
  width: 500px;
  left: calc(50vw - 250px);
  top: 25vh;
  opacity: 0;
  color: white;
  background-color: black;
  border-radius: 1rem;
  padding: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
}

.jump-instructions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.powerup-text {
  position: absolute;
  width: 140px;
  text-align: center;
  top: -16px;
  left: -10px;
  opacity: 0;
  transition: transform 0.5s, opacity 0.2s;
}

.activated {
  opacity: 1;
  transform: translateY(-50px);
}

#blaster-text,
.blaster-span {
  color: rgb(73, 234, 9)
}

#double-jump-text,
.double-jump-span {
  color: rgb(183, 30, 239);
}

#turbo-text,
.turbo-span {
  color: rgb(255, 213, 0);
}

.powerup-container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.powerup-logo {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 15px;
  background-color: black;
}

.space-bar {
  background-color: white;
  width: 150px;
  height: 30px;
  color: black;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin: 15px;
}

.main-menu {
  position: absolute;
  top: 20vh;
  left: calc(50vw - 150px);
  width: 300px;
  height: 280px;
  z-index: 10;
}

.start-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 280px;
  color: rgb(255, 213, 0);
  background-color: black;
  border-radius: 1rem;
  font-family: 'Mont Heavy', sans-serif;
  padding-bottom: 10px;
}

.help-button {
  font-family: 'Mont Heavy', sans-serif;
  font-size: 16px;
  background-color: black;
  color: rgb(255, 213, 0);
  border: none;
  border-radius: 0.8rem;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding-top: 5px;
  transition: background-color 0.3s;
}

.game-over-modal,
.scores-modal,
.help-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 280px;
  top: 20vh;
  left: calc(50vw - 150px);
  color: rgb(255, 213, 0);
  background-color: black;
  border-radius: 1rem;
  font-family: 'Mont Heavy', sans-serif;
  z-index: 10;
  padding-bottom: 10px;
}

.scores-modal {
  display: block;
  padding: 30px;
}

.help-modal {
  width: 400px;
  height: 420px;
  top: 15vh;
  left: calc(50vw - 200px);
  padding: 30px;
}

.help-text {
  color: white;
}

.start-header,
.start-subheader {
  position: absolute;
  margin: 0;
  font-size: 62px;
}

.start-header {
  top: 30px;
  left: 40px;
}

.start-subheader {
  left: 19.5px;
  top: 90px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
}

.start-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
  height: 130px;
  bottom: 42px;
  right: 40px;
}

.start-button,
.scores-button,
.start-over,
.main-menu-button {
  font-family: 'Mont Heavy', sans-serif;
  font-size: 24px;
  padding-top: 8px;
  height: 55px;
  width: 100%;
  background-color: rgb(255, 213, 0);
  transition: background-color 0.3s;
  border: none;
  border-radius: 1rem;
}

.scores-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.scores-header {
  padding-top: 5px;
  font-size: 24px;
  margin: 0;
}

.menu-button {
  font-family: 'Mont Heavy', sans-serif;
  font-size: 16px;
  background-color: rgb(255, 213, 0);
  transition: background-color 0.3s;
  border: none;
  border-radius: 0.5rem;
  padding: 8px 10px 5px;
}

.scores-list {
  margin: 30px 0;
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.scores-list-item {
  font-size: 18px;
  margin-bottom: 10px;
}

.no-scores-found {
  text-align: center;
  margin-top: 60px;
  font-size: 24px;
}

.start-button:hover,
.scores-button:hover,
.help-button:hover,
.menu-button:hover,
.start-over:hover,
.main-menu-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}

.start-over,
.main-menu-button {
  width: 220px;
}

.start-over {
  margin-bottom: 10px;
}

.game-over-modal {
  height: unset;
  padding: 40px;
}

.game-over-header {
  font-size: 34px;
  margin: 0 0 20px;
}

.game-over-score {
  margin: 0 auto 25px;
}

.player-area {
  height: 80%;
  width: 100%;
  position: relative;
}

.car {
  position: absolute;
  left: 100px;
  bottom: 0;
  width: 120px;
  height: 65px;
  z-index: 10;
}

.car-top {
  background-color: rgb(255, 213, 0);
  height: 25px;
  width: 50%;
  margin: 0 21%;
  transform: perspective(20px) rotateX(25deg);
}

.windows {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px 2px;
  position: absolute;
  width: 100%;
  height: 100%;
  transform: perspective(20px) rotateX(0deg);
}

.window {
  background-color: rgb(57, 57, 57);
  width: 47%;
  height: 100%;
}

.car-bottom {
  background-color: rgb(255, 213, 0);
  position: relative;
  height: 25px;
  width: 100%;
  border-radius: 0.3rem;
  z-index: 3;
}

.headlight,
.taillight {
  width: 7px;
  height: 7px;
  position: absolute;
  top: 0;
}

.headlight {
  background-color: white;
  right: 0;
  border-radius: 0.1rem 0.3rem 0.1rem 0.1rem;
}

.taillight {
  background-color: red;
  left: 0;
  border-radius: 0.3rem 0.1rem 0.1rem 0.1rem;
}

.wheels {
  position: relative;
  bottom: 0;
  width: 60%;
  left: 20%;
  height: 15px;
  display: flex;
  justify-content: space-between;
}

.wheel {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  top: -10px;
  z-index: 3;
  transition: border-radius 0.3s, height  0.3s, top 0.3s;
}

.flying {
  border-radius: 0;
  height: 10px;
  top: 0;
}

.left {
  left: -12px;
}

.right {
  right: -12px;
}

.ground {
  background-color: rgb(139, 139, 139);
  height: 20%;
  width: 100%;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  height: 80%;
  width: 100%;
}

.building {
  background-color: rgb(9, 74, 111);
  width: 100px;
  position: absolute;
  bottom: 0;
  right: -100px;
  z-index: 0;
}

.shorter {
  height: 150px;
}

.short {
  height: 200px;
}

.regular {
  height: 250px;
}

.large {
  height: 350px;
}

.larger {
  height: 425px;
}

.skyscraper {
  height: 475px;
}

.block {
  width: 50px;
  height: 50px;
  background-color: orangered;
  position: absolute;
  left: 100vw;
  bottom: 0;
}

.low-wide {
  width: 140px;
  height: 30px;
  background-color: greenyellow;
}

.medium-wide {
  height: 50px;
  width: 140px;
  background-color: gold;
}

.tall {
  width: 20px;
  height: 90px;
  background-color: darkorchid;
}

.taller {
  width: 25px;
  height: 100px;
  background-color: springgreen;
}

.tall-wide {
  width: 100px;
  height: 75px;
  background-color: black;
}

.floating {
  bottom: 20px;
  background-color: rgb(0, 255, 255);
}

.wide-floating {
  width: 350px;
  height: 35px;
  bottom: 70px;
  background-color: rgb(14, 20, 99);
}

.mid {
  bottom: 50px;
  background-color: darkgreen;
}

.gap {
  bottom: -100px;
  width: 200px;
  height: 100px;
  z-index: 9;
  background-color: rgb(9, 74, 111);
  position: absolute;
  left: 100vw;
}

.wide {
  width: 300px;
}

.wider {
  width: 340px;
}

.powerup {
  width: 60px;
  height: 60px;
  background-color: black;
  position: absolute;
  bottom: 30px;
  left: 100vw;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blaster {
  border: solid thick rgb(73, 234, 9);
}

.double-jump {
  border: solid thick rgb(183, 30, 239);
}

.turbo {
  border: solid thick rgb(255, 213, 0);
}

.type-blaster {
  font-size: 32px;
  color: rgb(73, 234, 9);
}

.type-double-jump {
  font-size: 32px;
  color: rgb(183, 30, 239);
}

.type-turbo {
  font-size: 32px;
  color: rgb(255, 213, 0);
}

.car-blaster {
  position: absolute;
  width: 7px;
  height: 5px;
  background-color: black;
  right: -7px;
  top: 36px;
  transition: transform 0.5s;
  z-index: 1;
}

.deactivated {
  transform: translateX(-8px);
}

.energy-blast {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -27px;
  top: 2px;
  border-radius: 50%;
  background-color: rgb(73, 234, 9);
}
